
  *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Poppins' , sans-serif;
}
nav{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  transition: all 0.4s ease;
}
nav.sticky{
  padding: 15px 20px;
  background: #4070f4;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
nav .nav-content{
  height: 100%;
  max-width: 1200px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav .logo{
  font-weight: 500;
  font-size: 35px;
  color: #4070f4;
}
nav.sticky .logo{
  color: #fff;
}
.nav-content .nav-links{
  display: flex;
}
.nav-content .nav-links li{
  list-style: none;
  margin: 0 8px;
}
 .nav-links li a{
  text-decoration: none;
  color: #0E2431;
  font-size: 18px;
  font-weight: 500;
  padding: 10px 4px;
  transition: all 0.3s ease;
}
 .nav-links li a:hover{
   color: #41b3a3;
 }
 nav.sticky .nav-links li a{
   color: #fff;
   transition: all 0.4s ease;
}
 nav.sticky .nav-links li a:hover{
  color: #0E2431;
}


.container 

footer{
    background: #e8a87c;
    height: auto;
    width: 100vw;
    font-family: "Open Sans";
    padding-top: 10px;
    color: white;   
    margin-top: 600px;


}
.footer-content{
    
    display: flex;
    align-items: center ;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h3{
    font-size: x-large;
    font-weight: 100;
    text-transform: capitalize;
    line-height: 3rem;
}
.footer-content h3 span{
    color: #41b3a3;
}
.footer-content p{
    max-width: 500px;
    margin: 15px;
    line-height: 20px;
    font-size: large;
}   
.SOCMED{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem  3rem ;
}
.SOCMED li{
    margin: 10px;
    padding-top: 10px;
    padding-right: 25px;
}
.SOCMED a{
    text-decoration: none;
    color: white;
}
.SOCMED a i{
    font-size: 1.5rem;
    transition: color .4s ease;
}
.SOCMED a:hover i{
    color: #3d3428;
}
.footer-bottom{
    color: black;
    text-align: center;
    padding: 50px;
    background-color: #ceda28;
}
.footer-bottom span{
    color: black;
}
